@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-8;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

.button-default {
  @apply cursor-pointer rounded-xl bg-pink-300 px-6 py-3 font-semibold text-white hover:bg-pink-400;
}

h1 {
  @apply text-3xl leading-[3.5rem];
}

h2 {
  @apply text-2xl leading-[2.5rem];
}

h3 {
  @apply text-xl leading-[2rem];
}

code {
  @apply rounded-lg border border-gray-300 bg-yellow-50 p-1;
}

pre {
  @apply max-h-[50%] overflow-auto rounded-lg border border-gray-300 bg-pink-50 p-4 text-sm;
}

pre code {
  @apply border-transparent bg-transparent;
}

input {
  @apply pl-2 outline-gray-300;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
